.cabecalho-menu-hamburguer{
    width: 20px;
height: 20px;
background-image: url(img/menu.png);
display:inline-block;
}
.cabecalho{
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.container{
    display: flex;
    align-items: center;
    padding: 1em;
    
}
.lista-menu{
    display: none;
    position: absolute;
    top:100%
}
.container-botao:checked ~.lista-menu{display: block;}

.lista-menu-titulo{
    padding: 1em;
    background-color: var(--cor-do-texto);
}
.lista-menu-item{
    padding: 1em;
    background-color: var(--cor-do-texto);
}